@media only screen and (max-width: 850px) {
    .title {
        font-size: 3vh;
        height: 3vh;
    }
    .text {
        font-size: 1.5vh;
    }
    .faltaX {
        font-size: 1.3vh;   
    }
    .insta {
        font-size: 2vh;
    }
    .caption {
        font-size: 3vh;
    }
    .contribua{
        font-size: 4vh;
    }
}
@media only screen and (min-width: 851px) {
    .title {
        font-size:4vh;
        height: 5vh;
    }
    .text {
        font-size: 2vh;
    }
    .faltaX {
        font-size: 2vh;
    }
    .insta {
        font-size: 3vh;
    }
    .caption {
        font-size: 4vh;
    }
    .contribua{
        font-size: 5vh;
    }
}

body{
    margin: 0px;
    padding: 0;
    height: 100%;
    background-color: darkblue;
    overflow-y: scroll;
}

.home {
    object-fit: cover;
    position: fixed;
    display: grid;
    text-align: center;
    grid-template-columns: 8;
    grid-template-rows: 40;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.bg {
     /* Full height */
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

grid-container {
    margin: 0px;
    gap: 0px;
}

@font-face {
    font-family: sonoBold;
    src: url(./web/Sono-Bold.woff2);
  }

  @font-face {
    font-family: sonoLight;
    src: url(./web/Sono-ExtraLight.woff2);
  }

.title {
    font-family: sonoBold;
    color: #ccffff;
    margin: 0px;
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
}

.caption {
    font-family: sonoBold;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    grid-column: 1 / span 8;
    grid-row: 2  / span 1;
}

.video {
    grid-column: 1 / span 8;
    grid-row: 3 / span 1;
}

.text {
    font-family: sonoBold;
    text-align: justify;
    color: white;
    grid-column: 1 / span 8;
    grid-row: 5 / span 3;
    margin: 1vh;
    background-color: rgba(12, 12, 12, 0.3);
}

.filler {
    grid-column: 1 / span 8;
    grid-row: 9 / span 1;
}

.contribua {
    color: #ccffff;
    font-weight: bold;
    font-family: sonoBold;
    grid-column: 1 / span 8;
    grid-row: 4 / span 1;
}

.insta {
    color: #ccffff;
    font-weight: bold;
}

.center {
    text-align: center;
    color: white;
    font-family: sonoBold;
}

.formsbutton {
    font-family: sonoBold;
    text-align: center;
    color: black;
    grid-column: 1 / span 8;
    grid-row: 33 / span 4;
}

.contribution {
    font-family: sonoBold;
    color: #ffcccc;
}

table {
    font-family: sonoBold;
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 0px;
    padding: 0px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: yellowgreen;}

table th {
    text-align: left;
    background-color: transparent;
    color: black;
}


.band {
    font-family: sonoBold;
    text-align: center;
    color: white;
    font-size: 1.5vh;   
}

.day {
    font-family: sonoBold;
    text-align: center;
    color: white;
    font-size: 2.5vh;   
}

.progressbar {
    width: 100vw;
    background-color: lightgray;
    height: 3vh;
    background-color: #69dafc;
    font-family: sonoBold;
    text-align: center; 
    line-height: 3vh; 
    color: white;
    grid-row: 23 / span 1;
    grid-column: 1 / span 8;
}

.faltaX {
    font-family: sonoBold;
    color: white;
    grid-column: 1 / span 8;
    grid-row: 24 / span 1;
}


.forms-table {
    grid-column: 1 / span 8;
}

.brindes {
    width: 100vw;
}