@media only screen and (max-width: 850px) {
    .title {
        font-size: 3vh;
        height: 3vh;
    }
    .text {
        font-size: 1vh;
    }
    .faltaX {
        font-size: 1.3vh;   
    }
    .insta {
        font-size: 2vh;
    }
    .caption {
        font-size: 3vh;
    }
    .contribua{
        font-size: 4vh;
    }
    .progressbar {
        font-size: 2vh;
    }
}
@media only screen and (min-width: 851px) {
    .title {
        font-size:4vh;
        height: 5vh;
    }
    .text {
        font-size: 2vh;
    }
    .faltaX {
        font-size: 2vh;
    }
    .insta {
        font-size: 3vh;
    }
    .caption {
        font-size: 4vh;
    }
    .contribua{
        font-size: 5vh;
    }
    .progressbar {
        font-size: 4vh;
    }
}

body{
    margin: 0px;
    padding: 0;
    height: 100%;
    background-color: darkblue;
    overflow-y: scroll;
}

.home {
    object-fit: cover;
    position: fixed;
    display: grid;
    text-align: center;
    grid-template-columns: 8;
    grid-template-rows: 40;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.bg {
     /* Full height */
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

grid-container {
    margin: 0px;
    gap: 0px;
}

@font-face {
    font-family: sonoBold;
    src: url(./web/Sono-Bold.woff2);
  }

  @font-face {
    font-family: sonoLight;
    src: url(./web/Sono-ExtraLight.woff2);
  }

.title {
    font-family: sonoBold;
    color: #ccffff;
    margin: 0px;
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
}

.caption {
    font-family: sonoBold;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    grid-column: 1 / span 8;
    grid-row: 2  / span 1;
}

.video {
    grid-column: 1 / span 8;
    grid-row: 3 / span 1;
}

.text {
    font-family: sonoBold;
    text-align: justify;
    color: white;
    grid-column: 1 / span 8;
    grid-row: 5 / span 3;
    margin: 1vh;
    background-color: rgba(12, 12, 12, 0.3);
}

.filler {
    grid-column: 1 / span 8;
    grid-row: 9 / span 1;
}

.contribua {
    color: darkblue;
    font-weight: bold;
    font-family: sonoBold;
    grid-column: 1 / span 8;
    grid-row: 4 / span 1;
}

.contrib {
    color: darkblue;
}

.insta {
    color: #ccffff;
    font-weight: bold;
}

.center {
    text-align: center;
    color: white;
    font-family: sonoBold;
}

.contribution {
    font-family: sonoBold;
    color: #ffcccc;
}

table {
    font-family: sonoBold;
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 0px;
    padding: 0px;
}

table tr:nth-child(even){background-color: darkblue;}
table tr:hover {background-color: yellowgreen;}

table th {
    text-align: left;
    background-color: transparent;
    color: white;
}


.band {
    font-family: sonoBold;
    text-align: center;
    color: white;
    font-size: 1.5vh;   
}

.day {
    font-family: sonoBold;
    text-align: center;
    color: white;
    font-size: 2.5vh;   
}

#myProgress {
    width: 100vw;
    padding-top: 1vh;
    height: 4vh;
    background-color: darkblue;
    font-family: sonoBold;
    text-align: center; 
    line-height: 3vh; 
    color: white;
    grid-row: 23 / span 1;
    grid-column: 1 / span 8;
}

#myBar {
    height: 3vh;
    background-color: yellowgreen;
    font-family: basteleurBold;
    text-align: center; 
    line-height: 3vh; 
}

.faltaX {
    font-family: sonoBold;
    color: white;
    grid-column: 1 / span 8;
    grid-row: 24 / span 1;
}


.forms-table {
    grid-column: 1 / span 8;
}

#sorteados {
    grid-column: 4 / span 2;
    grid-row: 42 / span 1;
    font-family: sonoBold;
    color: teal;
}

.sortear {
    grid-column: 4 / span 2;
    grid-row: 40 / span 1;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: sonoBold;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.sortear:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.sortear,
.sortear:focus {
    user-select: auto;
}

.sortear:hover:not(:disabled) {
    filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.sortear:disabled {
    cursor: auto;
}

.sortear:active {
    border-width: 4px 0 0;
    background: none;
}